<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.ivaniskandar.shouko">

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CREATE_SHORTCUT" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:name=".ShoukoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shouko">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shouko.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LinkCleanerTargetActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/link_cleaner_label"
            android:theme="@style/Theme.Shouko.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GAKeyOverriderKeyguardActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.Shouko.NoActionBar" />
        <activity
            android:name=".activity.PocketNoTouchyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.Shouko.NoActionBar" />
        <activity
            android:name=".activity.TileBoardingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.Shouko.Transparent" />
        <activity
            android:name=".activity.EmptyShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/blank_icon"
            android:label="@string/do_nothing"
            android:noHistory="true"
            android:theme="@style/Theme.Shouko.Transparent" />

        <service
            android:name=".service.TadanoAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service android:name=".service.TadanoTileParentService" />
        <service
            android:name=".service.CoffeeTileService"
            android:exported="true"
            android:icon="@drawable/ic_coffee"
            android:label="@string/coffee_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".service.TeaTileService"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_tea"
            android:label="@string/tea_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

    </application>

</manifest>
